<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <button style="width:100%" class="btn btn-success" type="button" (click)="addListItem()">Add</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12"
        *ngFor="let item of testList; let idx=index"
        [ngForAnimator]="animation">
    <div class="panel panel-default" style="position: relative">
      <div (click)="testList.splice(idx, 1)"
      style="cursor: pointer; position: absolute; top: 0; right:0; width: 40px; height: 40px; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; vertical-align: middle; text-align: center; line-height: 40px; font-size: 30px;">
        X
      </div>
      <div class="panel-body">
        <h1 class="text-center">{{item}}</h1>
      </div>
    </div>
  </div>
</div>
