<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>
      Will fade all boxes where Newbox# % box# == 0
    </h1>
  </div>
  <div class="col-xs-6 col-xs-offset-3">
    <button style="width:100%" class="btn btn-success" type="button" (click)="addListItem()">Add</button>
  </div>
</div>


<div class="row">
  <div class="col-xs-6"
        *ngFor="let item of testList; let idx=index"
        [elementId]="idx"
        [ngForAnimator]="animators.ColorAnimateComponent">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1 class="text-center">{{item}}</h1>
          </div>
        </div>
  </div>
</div>

